<section class="welcome-page-content-container">
  <div class="top-video-banner">
    <video muted autoplay loop src="/assets/video-background/astranauts_in_space.mp4"
      type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' class="video-banner-player">
    </video>
    <div class="overlay-content-container">
      <div class="video-banner-title">
        <p class="video-banner-text-content">space</p>
        <p class="video-banner-text-content">exploration</p>
      </div>
      <div class="video-banner-description">
        <div class="video-banner-view-more">
          <ng-template [evhMenuTriggerFor]="animeMenu" (menuTrigger)="menuOPen($event)">
            <button class="menu-trigger-button">
              <span class="video-banner-view-more-text">view more</span>
              <mat-icon *ngIf="!isMenuOpen; else closeMenuTemplate">add_circle_outline</mat-icon>
              <ng-template #closeMenuTemplate>
                <mat-icon>remove_circle_outline</mat-icon>
              </ng-template>
            </button>
          </ng-template>

          <div #animeMenu="AnimateMenu" evhAnimationMenu panelClass="evh-custom-menu-panel-class">
            <ul class="menu-navigation">
              <li class="menu-navigation-item">
                <a href="" class="menu-navigation-item-link">1</a>
              </li>
              <li class="menu-navigation-item">
                <a href="" class="menu-navigation-item-link">2</a>
              </li>
              <li class="menu-navigation-item">
                <a href="" class="menu-navigation-item-link">3</a>
              </li>
              <li class="menu-navigation-item">
                <a href="" class="menu-navigation-item-link">4</a>
              </li>
              <li class="menu-navigation-item">
                <a href="" class="menu-navigation-item-link">5</a>
              </li>
            </ul>
          </div>
        </div>
        <p class="video-banner-description-content">
          The ongoing discovery and exploration of celestial
          structures in outer space by means of continously evolving
          and growing space technology.
        </p>
      </div>
    </div>
  </div>
  <div class="tut-chtoto-predlogit">
    <div class="space-child-container"></div>
  </div>
</section>