:host {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

::ng-deep mat-toolbar.mat-toolbar-single-row {
  &.member-page-header {
    justify-content: space-between;

    .member-header-title-container {
      .char-item {
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }
}

.member-area-container {
  flex: 1;
  display: flex;
  flex-flow: column;

  .member-sidenav-container {
    flex: 1;

    mat-sidenav {
      .mat-nav-list {
        .mat-list-item.member-area-navigation-item {
          min-width: 280px;
          border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);

          &.home {
            border-top: 1px solid rgba($color: #000000, $alpha: .3);
            margin-top: -8px;

            .mat-icon {
              height: 21px;
              width: 21px;
              margin-right: 12px;

              &.material-icons {
                font-size: 21px;
              }
            }
          }

          .nav-link-text {
            padding-top: 5px;
          }
        }
      }
    }

    .mat-drawer-content {
      height: calc(100vh - 64px);
      scrollbar-width: 0;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}