<mat-toolbar class="member-page-header">
  <button mat-icon-button color="primary" (click)="sidenavToggle()" class="member-sidenav-toggle-button">
    <mat-icon *ngIf="!opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="opened">
      menu_open
    </mat-icon>
  </button>
  <div class="member-header-title-container">
    <ng-container *ngFor="let char of headderTitleContent;">
      <ng-container *ngFor="let item of char | keyvalue">
        <span [style.font-size]="item.value" class="char-item">{{item.key}}</span>
      </ng-container>
    </ng-container>
  </div>
  <evh-account-member-menu></evh-account-member-menu>
</mat-toolbar>
<div class="member-area-container">
  <mat-sidenav-container class="member-sidenav-container">
    <mat-sidenav #memberSidenav [mode]="'over'" [(opened)]="opened" class="member-sidenav">
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/'" matTooltip="Public Home Page" class="member-area-navigation-item home">
          <mat-icon color="primary">home</mat-icon>
          <span class="nav-link-text">Home</span>
        </a>
        <p>navigation will be soon</p>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>