/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './assets/fonts-sccs/font';

$primary_font: 'Lato';
$primary-fs: 16px;

// Font size
$font-xs:12px;
$font-sm: 14px;
$font-md: 18px;
$font-lg: 20px;

* {
  box-sizing: border-box;
}

html,
body {
  // width: 100%;
  // height: 100vh;
  // overflow: auto;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: $primary_font;
  font-size: $primary-fs;
}